* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body{font-family: 'Roboto Mono'; color:#fff;}
  h2{font-family: 'East Sea Dokdo', cursive;}
  a, a:visited{color:#E81C4F;}
  a:hover{color:#E81C4F;text-decoration:underline;}
  p {margin: 0;}
  .bg-dark{background-color: rgb(24,20,37)!important;}
  .btn{transition: none;}
  .btn.navb{
    font-family: 'East Sea Dokdo', cursive;
    font-size: 17pt;
    text-transform: uppercase;
    color: #fff;
    padding: 22px 1rem .25rem;
    height: 100%;
    border: none;
    border-radius: 0;
  }
  .btn.navb.disabled,.btn.navc.disabled,.btn.active{color:#E81C4F;opacity:1;}
  .btn.navb:focus{color:#FFF;opacity:1;}
  .btn.navb:hover{
    color: #fff;
    background: #E81C4F;
  }
  .btn.btn-lg.bss{
    height: auto;
    border: none;
    padding: .5rem .5rem .3rem;
  }
  .btn.navc{display: block;}
  .btn-group .btn:last-child:not(:first-child),.btn-group .btn:not(:first-child):not(:last-child){margin-left: 0;}
  .btn.btn-clear{padding: 0 0.3rem 0.3rem;width: auto;height: 1rem;}
  .icon{color:#fff;}
  .card{border: 0;border-radius: 0;}
  .menu{
    padding: 0;
    border-radius: 0;
    background: rgb(38,43,68);
  }
  canvas, img[src$=".gif"], img[src$=".png"] {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
    border: 0;
  }
  h1{font-family: 'East Sea Dokdo', cursive;margin-bottom: 20px;font-size: 1.2rem;text-align:center;}
  @media screen and (min-width: 376px){h1{font-size: 1.5rem;}}
  @media screen and (min-width: 520px){h1{font-size: 2rem;}}
  @media screen and (min-width: 1630px){h1{font-size: 2.5rem;}}
  label{display:block;margin-bottom: 5px;}
  .container{margin-top: 10px;}
  .ctrl{margin: 10px 0;}
  .ctrl:nth-child(1) fieldset .btn{width: 100%;height: 80px;}
  .ctrl:nth-child(7) fieldset .btn, .ctrl:nth-child(8) fieldset .btn{width: 100%;}
  .ctrl:nth-child(2), .ctrl:nth-child(3), .ctrl:nth-child(7), .ctrl:nth-child(8){width: 50%;display:inline-block;}
  .ctrl:nth-child(2),.ctrl:nth-child(7){padding-right:5px;}
  .ctrl:nth-child(3),.ctrl:nth-child(8){padding-left:5px;}
  .ctrl:nth-child(6){width:100%;display:inline-block;}
  #seed{width: 93%;display: inline-block;}
  .contain {
    position: relative;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    width: 7%;
    height: 36px;
    vertical-align: bottom;
  }
  .contain input {
    display:none
  }
  .checkmark {
    position: absolute;
    top: 0;
    right: calc(50% - 12px);
    width: 24px;
    height: 24px;
    margin: 6px 0;
    background-color: transparent;
    background-image: url("https://beaudu.com/img/unlock.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .contain:hover input ~ .checkmark {
    background-color: transparent;
    background-image: url("https://beaudu.com/img/unlock.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .contain input:checked ~ .checkmark {
    background-color: transparent;
    background-image: url("https://beaudu.com/img/lock.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bar {
     -webkit-appearance: none;
     width: 88%;
     height: 8px;
     margin-right: 4%;
     margin-top: 8px;
     border-radius: 2px;
     background: #262b44;
     outline: none;
     vertical-align: top;
     box-sizing: border-box;
     display: inline-block;
  }
  .bar::-webkit-slider-thumb {
       -webkit-appearance: none;
       width: 15px;
       height: 24px;
       border-radius: 2px;
       background: #5a6988;;
       cursor: pointer;
  }
  .bar::-webkit-slider-thumb:hover {background: #0099db;}
  .bar:active::-webkit-slider-thumb {background: #0099db;}
  .bar::-moz-range-thumb {
       width: 15px;
       height: 24px;
       border: 2px;
       border-radius: 0;
       background: #5a6988;
       cursor: pointer;
  }
  .bar::-moz-range-thumb:hover {background: #0099db;}
  .bar:active::-moz-range-thumb {background: #0099db;}
  .bar::-moz-range-track {background: #262b44;border: 0;}
  input::-moz-focus-inner, input::-moz-focus-outer {border: 0;}
  output{
    display: inline-block;
    position: relative;
    width: 8%;
    height: 24px;
    padding-top: 2px;
    font-size: 14px;
    text-align: center;
    background: #262b44;
    box-sizing: border-box;
    vertical-align: top;
  }
  output:after {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 0;
      height: 0;
      border: 12px solid transparent;
      border-right-color: #262b44;
      border-left: 0;
      margin-top: -12px;
      margin-left: -12px;
  }
  #submit, #save, #reset, #pal, #scaler0, #seed{
    color: #FFF;
    background-color:#262b44;
    box-sizing: border-box;
    border: none;
  }
  #submit, #save, #reset{text-transform: uppercase;font-weight: 700;}
  #save, #reset{height: 40px;}
  #submit:hover, #save:hover, #reset:hover{color: #FFF;background: #e43b44;}
  label.autoreseed{display:none;}
  .btn:focus, .form-input:focus, .form-select:focus {box-shadow: 0 0 0 .1rem rgba(0,0,0,.2);}
  .form-input{color:#fff}
  .form-input:not(:placeholder-shown):invalid, .form-input:not(:placeholder-shown):invalid:focus {box-shadow: 0 0 0 .1rem rgb(255, 0, 68);}
  input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {-webkit-appearance: none;margin: 0;}
  input[type=number] {-moz-appearance:textfield;}
  .footnote{
    text-align: center;
    font-size: 11px;
    color: #5a6988;
    line-height: 4;
  }
  .footnote a{color:#8b9bb4;}