<!DOCTYPE html>
<!--Copyright 2015-2020 Eric Beaudu. All Rights Reserved.-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Security-Policy" content="default-src 'none' https://beaudu.com https://fonts.googleapis.com https://fonts.gstatic.com; img-src data: https://*; media-src https://sketchfab.com; child-src 'self' https://sketchfab.com https://fonts.googleapis.com  https://fonts.gstatic.com; script-src 'none'; object-src 'none'; form-action 'self'; base-uri 'self'">
    <link rel="shortcut icon" href="https://beaudu.com/img/favicon.png">
    <title>ᴇʀɪᴄʙᴇᴀᴜᴅᴜ</title>
    <link href="https://beaudu.com/css/normalize.css" rel="stylesheet" >
    <link href="https://beaudu.com/css/spectre.min.css" rel="stylesheet" >
    <link href="https://beaudu.com/css/spectre-exp.min.css" rel="stylesheet" >
    <link href="https://beaudu.com/css/spectre-icons.min.css" rel="stylesheet" >
    <link href="https://beaudu.com/css/style.css" rel="stylesheet" >
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|East+Sea+Dokdo|Press+Start+2P" rel="stylesheet">
  </head>
  
  <body class="bg-dark">
    <div class="hero herofull hide-md">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column col-4 col-mx-auto"><img src="https://beaudu.com/img/logo.svg" alt="beaudu.com"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero heromobile show-md">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column col-4 col-mx-auto"><img src="https://beaudu.com/img/logo.svg" alt="beaudu.com"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-mx-auto">
      <div class="container grid-md py-3">
        <div class="columns">
          <div class="column col-3 col-sm-12">
            <img class="s-circle bioimg" src="https://beaudu.com/img/icon.png"/>
          </div>
          <div class="column col-9 col-sm-12">
            <h1>Hey, I'm Eric.</h1>
            <p>
              I'm a Freelance Illustrator, Animator, and Character Concept Artist with over 6 years of experience.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-mx-auto">
      <div class="container grid-md py-4">
        <div class="columns col-12">
          <div class="column col-12"><a href="mailto:eric@beaudu.com" class="btn btn-lg bss column col-12 cont mail"><span class="blkltr">[</span>eric@beaudu.com<span class="blkltr">]</span></a></div>
          <div class="column col-2 col-sm-6"><a href="https://twitter.com/ericbeaudu" class="btn btn-lg bss column col-12 cont twtt"><img class="sml" src="https://beaudu.com/img/twitter.svg" alt="twitter"></a></div>
          <div class="column col-2 col-sm-6"><a href="https://www.twitch.tv/outlaweric" class="btn btn-lg bss column col-12 cont twtc"><img class="sml" src="https://beaudu.com/img/twitch.svg" alt="twitch"></a></div>
          <div class="column col-2 col-sm-6"><a href="https://www.instagram.com/eric.beaudu/" class="btn btn-lg bss column col-12 cont inst"><img class="sml" src="https://beaudu.com/img/instagram.svg" alt="instagram"></a></div>
          <div class="column col-2 col-sm-6"><a href="https://www.artstation.com/ericbeaudu" class="btn btn-lg bss column col-12 cont arts"><img class="sml" src="https://beaudu.com/img/artstation.svg" alt="artstation"></a></div>
          <div class="column col-2 col-sm-6"><a href="https://outlaweric.newgrounds.com/" class="btn btn-lg bss column col-12 cont twtc"><img class="sml" src="https://beaudu.com/img/ng.svg" alt="newgrounds"></a></div>
          <div class="column col-2 col-sm-6"><a href="https://beaudu.com/spritedraw" class="btn btn-lg bss column col-12 cont twtc"><img class="sml" src="https://beaudu.com/img/invader.svg" alt="newgrounds"></a></div>
        </div>

        <div class="columns">
          <div class="column col-12 col-mx-auto">
            <p class="tc">&copy; 2015-2020 ERIC BEAUDU</p>
          </div>
        </div>

      </div>
    </div>

  </body>
</html>
