<!DOCTYPE html>
<!--Copyright 2010-2021 Eric Beaudu. All Rights Reserved.-->
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Security-Policy" content="default-src 'none' https://outlaweric.github.io/SpriteDraw https://fonts.googleapis.com https://fonts.gstatic.com; img-src data: https://*; child-src 'self' https://fonts.googleapis.com  https://fonts.gstatic.com; script-src 'unsafe-inline' https: ; object-src 'none'; form-action 'self'; base-uri 'self'">
    <link rel="shortcut icon" href="https://outlaweric.github.io/SpriteDraw/img/favicon.png">
    <title>Sprite Draw Challenge</title>
    <link href="https://outlaweric.github.io/SpriteDraw/css/normalize.css" rel="stylesheet" >
    <link href="https://outlaweric.github.io/SpriteDraw/css/spectre.min.css" rel="stylesheet" >
    <link href="https://outlaweric.github.io/SpriteDraw/css/spectre-exp.min.css" rel="stylesheet" >
    <link href="https://outlaweric.github.io/SpriteDraw/css/spectre-icons.min.css" rel="stylesheet" >
    <link href="https://outlaweric.github.io/SpriteDraw/css/sprite.css" rel="stylesheet" >
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|East+Sea+Dokdo|Press+Start+2P" rel="stylesheet">
    <script src="https://outlaweric.github.io/SpriteDraw/js/sprite.min.js"></script>

  </head>
  <body class="bg-dark" onload="main();">
    <div class="container">
      <a class="logofix" href="http://outlaweric.com/"><img src="https://outlaweric.github.io/SpriteDraw/img/logo.svg" alt="beaudu.com"></a>
      <div class="columns">
        <div class="column col-9 col-xl-12 col-mx-auto">
          <div class="columns">
            <div class="column col-6 col-md-12">
              <canvas id="SpriteGenerator">
                404 your canvas had no fucks left to give.
              </canvas>
            </div>
            <div class="column col-6 col-md-12">
              <h1>Generate sprites. Draw what you see!</h1>
              <div id="gui" class="col-10 col-sm-12 col-mx-auto"></div>
              <p class="footnote">Remember to post what you drew with <a href="https://twitter.com/hashtag/SpriteDraw?src=hash">#SpriteDraw</a>!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
